@media only screen and (min-width: 900px) {
    #about {

    }

    #about .content {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 40px;
        padding-right: 100px;
        padding-left: 100px;
        padding-bottom: 100px;;

        background-color: white;
    }

    #about .content .alert {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 35px;

        border: 4px solid #d33;
    }

    #about .content .alert .heading {
        color: #333333;
        font-size: 22px;
        font-weight: bold;
        font-family: "Roboto Slab", sans-serif;

        margin-bottom: 20px;
    }

    #about .content .alert .text {
        color: #333333;
        font-size: 20px;
        font-weight: normal;
        font-family: "Roboto Condensed", sans-serif;
        text-align: center;
        line-height: 30px;
    }

    #about .content .title {
        color: #DBB859;
        font-size: 27px;
        font-weight: normal;
        font-family: "Bilbo Swash Caps", cursive;
        text-align: center;

        margin-top: 100px;
    }

    #about .content .heading {
        color: #333333;
        font-size: 34px;
        font-weight: normal;
        font-family: "Roboto Slab", serif;
        text-align: center;

        margin-bottom: 30px;
    }

    #about .content .description {
        color: #333333;
        font-size: 20px;
        font-weight: normal;
        font-family: "Roboto Condensed", sans-serif;
        text-align: center;
        line-height: 30px;

        width: 80%;

        margin-bottom: 30px;
    }

    #about .content .text {
        color: #333333;
        font-size: 20px;
        font-weight: normal;
        font-family: "Roboto Condensed", sans-serif;
        text-align: center;
        line-height: 30px;

        width: 80%;
    }
}

@media only screen and (max-width: 900px) {
    #about {

    }

    #about .content {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 30px;

        background-color: white;
    }

    #about .content .alert {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 10px;
        padding-top: 30px;
        padding-bottom: 30px;

        margin: 10px;

        border: 4px solid #d33;
    }

    #about .content .alert .heading {
        color: #333333;
        font-size: 22px;
        font-weight: bold;
        font-family: "Roboto Slab", sans-serif;

        margin-bottom: 20px;
    }

    #about .content .alert .text {
        color: #333333;
        font-size: 20px;
        font-weight: normal;
        font-family: "Roboto Condensed", sans-serif;
        text-align: center;
        line-height: 30px;
    }

    #about .content .title {
        color: #DBB859;
        font-size: 27px;
        font-weight: normal;
        font-family: "Bilbo Swash Caps", cursive;
        text-align: center;

        margin-top: 50px;
    }

    #about .content .heading {
        color: #333333;
        font-size: 28px;
        font-weight: normal;
        font-family: "Roboto Slab", serif;
        text-align: center;

        margin-bottom: 30px;
    }

    #about .content .description {
        color: #333333;
        font-size: 20px;
        font-weight: normal;
        font-family: "Roboto Condensed", sans-serif;
        text-align: center;
        line-height: 30px;

        margin-bottom: 30px;
    }

    #about .content .text {
        color: #333333;
        font-size: 20px;
        font-weight: normal;
        font-family: "Roboto Condensed", sans-serif;
        text-align: center;
        line-height: 30px;
    }
}